@import "mocha.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Fira Code Retina", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  color: @text;
}

window#waybar {
  background-color: transparent;
  /* color: @text; */
  transition-property: background-color;
  transition-duration: 1.5s;
}

/* window#waybar.com\.mitchellh\.ghostty { */
/*   background-color: alpha(@base, 0.97); */
/* } */

window#waybar.com\.mitchellh\.ghostty {
  background-color: alpha(@base, 0.97);
}

window#waybar.spotify {
  background-color: alpha(@base, 0.97);
}

window#waybar.Slack {
  background-color: alpha(@base, 0.97);
}

window#waybar.firefox {
  background-color: alpha(@base, 1.00);
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite { */
/*   background-color: #3f3f3f; */
/* } */

/* window#waybar.chromium { */
/*   background-color: #000000; */
/*   border: none; */
/* } */

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 3px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @mantle;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: @peach;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @text;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: alpha(@base, 0.095);
  box-shadow: inset 0 -3px @text;
}

#workspaces button.urgent {
  background-color: @red;
}

#mode {
  box-shadow: inset 0 -3px @text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 8px;
  color: @text;
  background-color: alpha(@base, 0.97);
  border-radius: 3px;
}

#window {
  background-color: alpha(@base, 0.95);
  border: 1px solid @lavender;
  border-radius: 3px;
  padding: 0 8;
}

#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  border: 1px solid @sapphire;
}

#battery {
  border: 1px solid @yellow;
}

#battery.charging,
#battery.plugged {
  border: 1px solid @green;
}

@keyframes blink {
  to {
    background-color: alpha(@surface1, 0.95);
    color: alpha(@base, 0.95);
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border: 1px solid @red;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000000;
}

label:focus {
  background-color: #000000;
}

#cpu {
  border: 1px solid @teal;
}

#memory {
  border: 1px solid @peach;
}

#disk {
  border: 1px solid @maroon;
}

#backlight {
  border: 1px solid @sapphire;
}

#network {
  border: 1px solid @blue;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  /* background-color: #f1c40f; */
  /* color: #000000; */
  border: 1px solid @pink;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  border: 1px solid @mauve;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}
